name: Semantic Release

on:
  workflow_run:
    workflows: ["Check Code"]
    types: [completed]
    branches:
      - main

jobs:
  semantic-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-python-env
      - name: Get current and next versions
        id: versions
        run: |
          current_version=$(uv run aserehe version)
          next_version=$(uv run aserehe version --next)
          echo "current=$current_version" >> $GITHUB_OUTPUT
          echo "next=$next_version" >> $GITHUB_OUTPUT
      - name: Trigger release workflow
        if: steps.versions.outputs.current != steps.versions.outputs.next
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh workflow run release.yaml -f version=${{ steps.versions.outputs.next }}
